In [1]:
import requests
import pandas as pd

# Define the API endpoint
api_url = "http://127.0.0.1:5000/api/data"

# Call the API
try:
    response = requests.get(api_url, timeout=10)

    # Check if the response is successful
    if response.status_code == 200:
        data = response.json()
        bike_df = pd.DataFrame(data)
        print("Header of the table:")
        print(bike_df.head())
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")
except requests.exceptions.RequestException as e:
    print(f"Error occurred: {e}")

Header of the table:
  Bike_model  Bike_number       End_date    End_lat   End_lon  \
0    CLASSIC        23715  8/1/2023 0:17  51.490435 -0.122806
1    CLASSIC        41267  8/1/2023 0:17  51.490435 -0.122806
2    CLASSIC        53180  8/1/2023 0:11  51.527025 -0.088542
3    CLASSIC        53431  8/1/2023 0:12  51.485357 -0.142207
4    CLASSIC        54758  8/1/2023 0:17  51.488124 -0.120903

                   End_station  End_station_number     Number     Start_date  \
0  Albert Embankment, Vauxhall                1059  132825189  8/1/2023 0:00
1  Albert Embankment, Vauxhall                1059  132825190  8/1/2023 0:00
2   Baldwin Street, St. Luke's                3500  132825191  8/1/2023 0:00
3      Grosvenor Road, Pimlico                1140  132825192  8/1/2023 0:01
4      Vauxhall Walk, Vauxhall              200056  132825193  8/1/2023 0:01

   Start_lat Start_lon                          Start_station  \
0  51.486343 -0.122492  Kennington Lane Rail Bridge, Vauxhall
1  51.486343 -0.122492  Kennington Lane Rail Bridge, Vauxhall
2  51.526236 -0.134407                    Euston Road, Euston
3  51.490945  -0.18119    Old Brompton Road, South Kensington
4  51.500139 -0.113936                  Lower Marsh, Waterloo

   Start_station_number Total_duration  Total_duration_ms
0                  1190        16m 46s            1006663
1                  1190        16m 47s            1007128
2                   983         11m 6s             666395
3                  3479        11m 53s             713059
4                  1219         16m 3s             963786

In [4]:
print(bike_df[bike_df['Bike_model'] != "CLASSIC"].head(100))

     Bike_model  Bike_number       End_date    End_lat   End_lon  \
7    PBSC_EBIKE        61178  8/1/2023 1:04  51.494645 -0.158105
11   PBSC_EBIKE        60408  8/1/2023 0:13  51.506946 -0.058681
24   PBSC_EBIKE        60448  8/1/2023 0:38  51.541793  -0.00481
50   PBSC_EBIKE        60528  8/1/2023 0:20  51.504627 -0.091773
51   PBSC_EBIKE        60612  8/1/2023 0:23  51.515117 -0.173712
..          ...          ...            ...        ...       ...
875  PBSC_EBIKE        60586  8/1/2023 6:51  51.509351 -0.147449
877  PBSC_EBIKE        60249  8/1/2023 6:40  51.515418  -0.09885
879  PBSC_EBIKE        60274  8/1/2023 6:44  51.515937 -0.111778
886  PBSC_EBIKE        60476  8/1/2023 6:43  51.472876 -0.176267
897  PBSC_EBIKE        60202  8/1/2023 6:56  51.511246 -0.093051

                      End_station  End_station_number     Number  \
7    Cadogan Place, Knightsbridge                3469  132825196
11        Reardon Street, Wapping               22176  132825200
24   Stratford Station, Stratford              300234  132825216
50      Hop Exchange, The Borough                 960  132825242
51      London Street, Paddington              300079  132825243
..                            ...                 ...        ...
875          Farm Street, Mayfair                2678  132826066
877   Newgate Street , St. Paul's                1074  132826083
879     Breams Buildings, Holborn                3449  132826085
886  Vicarage Crescent, Battersea              200077  132826092
897          Queen Street 2, Bank              200128  132826102

        Start_date  Start_lat Start_lon                         Start_station  \
7    8/1/2023 0:01  51.541515 -0.038557          Gascoyne Road, Victoria Park
11   8/1/2023 0:02  51.525645 -0.069543             Granby Street, Shoreditch
24   8/1/2023 0:07  51.503791 -0.112824          Waterloo Station 3, Waterloo
50   8/1/2023 0:14  51.489102 -0.091548              Brandon Street, Walworth
51   8/1/2023 0:14  51.515117 -0.173712             London Street, Paddington
..             ...        ...       ...                                   ...
875  8/1/2023 6:27  51.487285 -0.217995   Charing Cross Hospital, Hammersmith
877  8/1/2023 6:28   51.51328 -0.047784               Albert Gardens, Stepney
879  8/1/2023 6:28  51.521889  -0.04667        Stepney Green Station, Stepney
886  8/1/2023 6:28  51.481335 -0.138212           Riverlight South, Nine Elms
897  8/1/2023 6:29  51.475089 -0.201968  Parsons Green Station, Parsons Green

     Start_station_number Total_duration  Total_duration_ms
7                  200155      1h 2m 58s            3778515
11                  22174        10m 43s             643340
24                   1072         31m 7s            1867040
50                 300060         6m 12s             372855
51                 300079         9m 11s             551569
..                    ...            ...                ...
875                300018         24m 4s            1444140
877                 22166        12m 30s             750629
879                200012        15m 43s             943231
886                300232        14m 15s             855139
897                300052        26m 53s            1613792

[100 rows x 15 columns]